<div style="text-align: center; margin-top: 6rem">
  <p class="display-4">Stock Search</p>
</div>
<form (submit)="search(); $event.preventDefault()">
  <div class="container" style="margin-top: 3rem">
    <div class="row justify-content-center">
      <div class="col-10 col-lg-4 col-md-8 col-sm-6">
        <div class="input-group mb-3 input-group-order">
          <input type="text" class="form-control input-no-focus small-placeholder" [matAutocomplete]="auto" [formControl]="formControl"
            style="border: none" placeholder="Enter Stock Ticker Symbol" aria-label="Stock Ticker"
            aria-describedby="basic-addon2" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <ng-container *ngIf="isLoading">
              <mat-option>
                <mat-spinner diameter="20"></mat-spinner>
              </mat-option>
            </ng-container>
            <mat-option *ngFor="let s of filteredStocks | async;" [value]="s.displaySymbol">
              {{ s.displaySymbol }} | {{ s.description }}
            </mat-option>
          </mat-autocomplete>
          <div class="input-group-append row">
            <div class="col-4 d-flex align-items-center">
              <button class="btn p-0 m-0" type="submit">
                <i class="bi bi-search" style="font-size: 1.5rem;"></i>
              </button>
            </div>
            <div class="col-4  d-flex align-items-center">
              <button class="btn p-0 m-0" type="reset" (click) = "resetAlerts()">
                <i class="bi bi-x" style="font-size: 1.5rem;"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<ngb-alert *ngIf="alerts.length > 0" [type]="alerts[0].type" (closed)="close(alerts[0])" class="mt-5 w-50 mx-auto text-center">
  {{ alerts[0].message }}
</ngb-alert>
<ngb-alert *ngIf="alerts1.length > 0" [type]="alerts1[0].type" class="mt-5 w-50 mx-auto text-center" [dismissible]="false">
  {{ alerts1[0].message }}
</ngb-alert>
